extends default

block content
    div
    table
        thead
        <table style="width:100%;" border=1><tr><th>id</th><th>title</th><th>date_time</th><th>location</th><th>price</th><th>images</th></tr>
        tbody
        each item, i in apitest1
            tr
                td= item.id
                td= item.title
                td= item.date_time
                td= item.location
                td= item.price
                td(scope="row")
                    img(src= item.images style='width:100px; height:100px;')

                
//-   #table-wrapper
//-     table#desc
//-       div.container
//-         <table style="width:100%;" border="1">
//-         td(width='100%' ) Additional cheduled projects and service
//-             each item in apitest
//-                 table.joblist
//-                     tr
//-                         th
//-                         p.id= item['id']
//-                     tr
//-                         th
//-                         p.title= item['title']
//-                     tr
//-                         th
//-                         p.date_time= item['date_time']
   

//-   div.container
//-     each item in apitest
//-       div.item
//-         h2.item-id
//-           | #{item.id} #{item.title} #{item.date_time} #{item.location} #{item.price}

//-   div.container
//-     each person in people
//-       div.person
//-         div.person-image(style=`background: url('/images/${person.imgSrc}') top center
//-         no-repeat; background-size: cover;`)
//-         h2.person-name
//-           | #{person.firstname} #{person.lastname}
//-         a(href=`/profile?id=${person.id}`)
//-           | View Profile

